body {
	background: url("../images/dark-triangles.png"); 
}

.jumbotron {
    background-color: lightblue;
}
div#random-number-display {
	font-weight: bolder;
	font-size: 78px;
}

div#game-score {
	font-weight: bolder;
	font-size: 78px;
}